@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Angular Js Demos</h1>
        <p class="lead">This is a site specially built to host all the angularjs examples and practices i have done.</p>
</div>

<div class="row">

    <address>
        <b>Gaurav H. Rana</b> <br />
        109, 3rd Floor, Savera Complex,<br />
        Opp Rokadiya Hanuman Temple, Udhna Main Road,<br />
        Surat, Gujarat, India - 394210<br />
        <abbr title="Phone">P:</abbr>
        +91 99096 62357
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:contact@ghrana.com">contact@ghrana.com</a><br />

    </address>
</div>